@model Afrimart.Dto.Public.HomeProductCard  

<div class="modal-header">
    <h4 class="modal-title product-title">
        <a href="shop-single-v1.html" data-bs-toggle="tooltip" data-bs-placement="right" title="Go to product page" name="prod-title">
            @Model.ProductName
            <i class="ci-arrow-right fs-lg ms-2"></i>
        </a> 
    </h4>
    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="row">
        <!-- Product gallery-->
        <div class="col-lg-7 pe-lg-0">
            <div class="product-gallery">
              @if (Model.GalleryImgUrls.Any())
              {
                  <div class="product-gallery-preview order-sm-2">
                
                      @for (var i = 0; i < Model.GalleryImgUrls.Count; i++)
                      {
                          if (i == 0)
                          {
                              <div class="product-gallery-preview-item active" id="@i">
                                  <img class="image-zoom" src="@Model.GalleryImgUrls[i]" data-zoom="@Model.GalleryImgUrls[i]" alt="Product image">
                                  <div class="image-zoom-pane"></div>
                              </div>
                          }
                          else
                          {
                              <div class="product-gallery-preview-item" id="@i">
                                  <img class="image-zoom" src="@Model.GalleryImgUrls[i]" data-zoom="@Model.GalleryImgUrls[i]" alt="Product image">
                                  <div class="image-zoom-pane"></div>
                              </div>
                          } 
                      } 
                  </div>
                  <div class="product-gallery-thumblist order-sm-1">
                  
                      @for (var i = 0; i < Model.GalleryImgUrls.Count; i++)
                      {
                          if (i == 0)
                          {
                              <a class="product-gallery-thumblist-item active" href="#@i" data-id="@i">
                                  <img src="@Model.GalleryImgUrls[i]" alt="Product thumb">
                              </a>
                          }
                          else
                          {
                              <a class="product-gallery-thumblist-item" href="#@i" data-id="@i">
                                  <img src="@Model.GalleryImgUrls[i]" alt="Product thumb">
                              </a>
                          }
                      } 
                  </div>
              }
              else
              {
                  <div class="product-gallery-preview order-sm-2"> 
                      <div class="product-gallery-preview-item active" id="first">
                          <img class="image-zoom" src="@Model.ImageUrl" data-zoom="@Model.ImageUrl" alt="Product image">
                          <div class="image-zoom-pane"></div>
                      </div>
                  </div>
              }
            </div>
        </div>
        <!-- Product details-->
        <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
            <div class="product-details ms-auto pb-3">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <a href="shop-single-v1.html#reviews">
                        <div class="star-rating">
                            <i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star-filled active"></i><i class="star-rating-icon ci-star"></i>
                        </div><span class="d-inline-block fs-sm text-body align-middle mt-1 ms-1">@Model.ReviewCount Reviews</span>
                    </a>
                    <button class="btn-wishlist" type="button" data-bs-toggle="tooltip" title="Add to wishlist"><i class="ci-heart"></i></button>
                </div>
                <div class="mb-3">
                    <span class="h3 fw-normal text-accent me-1">$@Math.Truncate(Model.DiscountedPrice).<small>@((int) ((Model.DiscountedPrice - Math.Truncate(Model.DiscountedPrice)) * 100))</small></span>
                    @if (Model.IsOnSale)
                    {
                        <del class="text-muted fs-lg me-3">$@Math.Truncate(Model.Price).<small>@((int) ((Model.Price - Math.Truncate(Model.Price)) * 100))</small></del><span class="badge bg-danger badge-shadow align-middle mt-n2">Sale</span>
                    }
                </div>
                @if (Model.UnitsAvailable > 0)
                {
                    <div class="position-relative me-n4 mb-3">
                        <div class="product-badge product-available mt-n1"><i class="ci-security-check"></i>Product available</div>
                    </div>
                    <form class="mb-grid-gutter">
                        <div class="mb-3 d-flex align-items-center">
                            <select class="form-select me-3" style="width: 5rem;">
                                @for (int i = 1; i <= Math.Min(10, Model.UnitsAvailable); i++ )
                                {
                                    <option value="@i">@i</option> 
                                } 
                            </select>
                            <button class="btn btn-primary btn-shadow d-block w-100" type="submit"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="position-relative me-n4 mb-3">
                        <div class="product-badge text-danger mt-n1"><i class="ci-security-check"></i>Product out of stock!</div>
                    </div>
                }
                
                <h5 class="h6 mb-3 pb-2 border-bottom"><i class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product info</h5>
                <div name="prod-desc">
                    @Model.Description
                </div>
            </div>
        </div>
    </div>
</div>